doctype html
html
  head
    meta(charset='utf-8')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    title
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='style.css', rel='stylesheet')
  body
    .wrapper
      header
      // .header
      nav.navigation
        li
          a(href='') Один
        li
          a(href='') Два
        li
          a(href='') Три
        li
          a(href='') Четыре
      .middle
        .container
          main.content
            h1 Национальный парк Секвойя, США
            .image
              img(src='images/maxresdefault.jpg', alt='sequa')
            p
              | Национальный парк Секвойя образует огромную территорию для отдыха. Эта удивительная страна чудес, покрытая живым куполом из древних деревьев, создает неповторимую атмосферу сказки. Каменные каньоны и реки служат оправой этому великолепию, а солнечная погода Сьерра-Невады поддерживает постоянную температуру.
            p
              | Национальный парк назван в честь крупнейших деревьев — гигантских секвой. Считается, что это самые большие живые организмы на планете. Их массивные, цвета корицы, стволы и мощные ветви вздымаются ввысь до 100 метров. Найти эти мамонтовые деревья можно лишь в узкой полосе, вдоль тихоокеанского побережья северной Америки.
            p
              | Удивительный экземпляр гигантских секвой — «Генерал Шерман», получивший свое имя в честь Уильяма Текумсе Шермана, который воевал во времена Гражданской войны. Это дерево является самым большим в мире по объему. Его высота 84 м, диаметр 31 м, а первые ветки начинают расти лишь на расстоянии 40 м от земли.
            p.facebook-frame
              iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcalaverasbigtrees%2Fposts%2F10154814678640135&width=500', width='500', height='664', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          // .content
        // .container
        aside.right-sidebar
          h3 Новости
          h4 В Калифорнии упала знаменитая тысячелетняя секвойя
          p
            | Гигантская секвойя прославилась тоннелем в стволе, который был достаточно широк, чтобы через него мог проехать автомобиль.
          p
            | Дерево было свалено бурей, которая оказалась сильнейшей за последние десять лет. Возраст секвойи, также известной как дерево-тоннель, как считается, превышал тысячу лет.
          time(datetime='9.01.2017') 9 Января, 2017
          // .right-sidebar
      // .middle
      footer.footer
        p Copyright © 2017. All Rights Reserved
      // .footer
    // .wrapper
